.Imagecontainer {
  position: relative;
  text-align: center;

  img {
    width: 350px;
    height: 250px;
  }

    p {
      position: absolute;

      margin-top: 0;
      border:2px solid black;
      background-color: black;
      color: white;
      font-family: monospace;
      width:100px;
      font-weight: 300;
      font-size: 15px;
      padding: 10px;
    }


}
.Imagecontainer:hover img {
  filter: grayscale(100%) brightness(70%);
}
